{% extends "base.html" %}
{% from "macros/form_field.html" import form_field %}

{% block title %}edit {{ cemetery.name_of_cemetery }} {% endblock %}

{% block content_title %}Edit {{ cemetery.name_of_cemetery }}{% endblock %}

{% block content %}
  <form action="{{ url_for('cemeteries.edit', id=cemetery.id) }}" class="form
      form-horizontal" method="post">
      {% for field in form %}
        {{ form_field(field) }}
      {% endfor %}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default">Save</button>
          <a class="btn" href="{{ url_for('cemeteries.detail', id = cemetery.id)
               }}">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
